/* Frame60 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

p {
  margin: 0;
}

.flex-col-hcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-hcenter {
  justify-content: center;
}

.flex-col-hcenter-vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-hsb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-hend {
  justify-content: flex-end;
}

.flex-vcenter-hcenter {
  justify-content: center;
  display: flex;
  align-items: center;
}

.frame-60 {
  height: fit-content;
}

.txt-872 {
  font-size: 32px;
  font-family: Poppins, sans-serif;
  font-weight: 800;
  letter-spacing: -2.2px;
  color: rgba(32, 32, 32, 1);
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 32px;
}

.bloco {
  margin-bottom: 32px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgba(64, 122, 255, 1);
  height: fit-content;
}

.contents-01 {
  margin-bottom: 32px;
  box-sizing: border-box;
  height: fit-content;
}

.titulo {
  margin-bottom: 8px;
  box-sizing: border-box;
  width: 334.94px;
}

.txt-297 {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  letter-spacing: -1.3px;
  color: rgba(32, 32, 32, 1);
  width: 245px;
  word-wrap: break-word;
}

.txt-735 {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: -1.5px;
  color: rgba(32, 32, 32, 1);
  text-align: right;
  width: 68px;
  word-wrap: break-word;
}

.group-15 {
  margin-bottom: 8px;
  box-sizing: border-box;
  width: 335px;
}

.txt-618 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  width: 245px;
  word-wrap: break-word;
}

.trigger {
  padding: 1px 2px 1px 22px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgba(64, 122, 255, 1);
  width: 42px;
  height: 20px;
}

.ellipse-5 {
  background-color: rgba(64, 122, 255, 1);
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.txt-991 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  width: 335px;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.txt-9102 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  width: 335px;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.txt-339 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(255, 5, 5, 1);
  width: 335px;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.btn-primary {
  padding: 7px 13.04px 7px 13.68px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgba(64, 122, 255, 1);
  width: 247px;
  height: 40px;
}

.btn-text-master {
  width: 218.28px;
  height: 24px;
}

.text-master {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 218.28px;
  height: 24px;
  word-wrap: break-word;
}

.btn-secondary {
  padding: 7px 12.4px 7px 14.32px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgba(64, 122, 255, 1);
  width: 247px;
  height: 40px;
}

.btn-text-master-1 {
  padding: 0px -1px 0px 0px;
  box-sizing: border-box;
  width: 218.28px;
  height: 24px;
}

.text-master-1 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(64, 122, 255, 1);
  text-align: center;
  width: 218.28px;
  height: 24px;
  word-wrap: break-word;
}

.contents-02 {
  margin-bottom: 32px;
  box-sizing: border-box;
  height: fit-content;
}

.titulo-1 {
  margin-bottom: 8px;
  box-sizing: border-box;
  width: 334.94px;
}

.perindopril {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  letter-spacing: -1.3px;
  color: rgba(32, 32, 32, 1);
  width: 245px;
  word-wrap: break-word;
}

._-0800 {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: -1.5px;
  color: rgba(32, 32, 32, 1);
  text-align: right;
  width: 68px;
  word-wrap: break-word;
}

.group-151 {
  margin-bottom: 8px;
  box-sizing: border-box;
  width: 335px;
}

.txt-992 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  width: 245px;
  word-wrap: break-word;
}

.trigger-1 {
  padding: 1px 2px 1px 22px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgba(64, 122, 255, 1);
  width: 42px;
  height: 20px;
}

.ellipse-51 {
  background-color: rgba(64, 122, 255, 1);
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.caixa-com-60-comprimidos-04mg {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  width: 335px;
  word-wrap: break-word;
  margin-bottom: 8px;
}

._-1-comprimido-acada-4h {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  width: 335px;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.btn-primary-1 {
  padding: 7px 13.04px 7px 13.68px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgba(196, 196, 196, 1);
  width: 247px;
  height: 40px;
}

.btn-text-master-2 {
  width: 218.28px;
  height: 24px;
}

.text-master {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 218.28px;
  height: 24px;
  word-wrap: break-word;
}

.btn-secondary-1 {
  padding: 7px 12.4px 7px 14.32px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgba(64, 122, 255, 1);
  width: 247px;
  height: 40px;
}

.btn-text-master-3 {
  padding: 0px -1px 0px 0px;
  box-sizing: border-box;
  width: 218.28px;
  height: 24px;
}

.text-master-1 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(64, 122, 255, 1);
  text-align: center;
  width: 218.28px;
  height: 24px;
  word-wrap: break-word;
}

.contents-03 {
  margin-bottom: 32px;
  box-sizing: border-box;
  height: fit-content;
}

.titulo-2 {
  margin-bottom: 8px;
  box-sizing: border-box;
  width: 334.94px;
}

.txt-322 {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  letter-spacing: -1.3px;
  color: rgba(32, 32, 32, 1);
  width: 245px;
  word-wrap: break-word;
}

._-0800 {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: -1.5px;
  color: rgba(32, 32, 32, 1);
  text-align: right;
  width: 68px;
  word-wrap: break-word;
}

.group-152 {
  margin-bottom: 8px;
  box-sizing: border-box;
  width: 335px;
}

.txt-077 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  width: 245px;
  word-wrap: break-word;
}

.trigger-2 {
  padding: 1px 2px 1px 22px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgba(64, 122, 255, 1);
  width: 42px;
  height: 20px;
}

.ellipse-52 {
  background-color: rgba(64, 122, 255, 1);
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.txt-160 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  width: 335px;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.txt-340 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  width: 335px;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.btn-primary-2 {
  padding: 7px 13.04px 7px 13.68px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgba(64, 122, 255, 1);
  width: 247px;
  height: 40px;
}

.btn-text-master-4 {
  width: 218.28px;
  height: 24px;
}

.text-master {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 218.28px;
  height: 24px;
  word-wrap: break-word;
}

.btn-secondary-2 {
  padding: 7px 12.4px 7px 14.32px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgba(64, 122, 255, 1);
  width: 247px;
  height: 40px;
}

.btn-text-master-5 {
  padding: 0px -1px 0px 0px;
  box-sizing: border-box;
  width: 218.28px;
  height: 24px;
}

.text-master-1 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(64, 122, 255, 1);
  text-align: center;
  width: 218.28px;
  height: 24px;
  word-wrap: break-word;
}

.contents-04 {
  margin-bottom: 32px;
  box-sizing: border-box;
  height: fit-content;
}

.txt-882 {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  letter-spacing: -1.5px;
  color: rgba(32, 32, 32, 1);
  word-wrap: break-word;
  margin-bottom: 16px;
}

.frame-61 {
  margin-bottom: 16px;
  box-sizing: border-box;
  height: fit-content;
}

.medicamento-2 {
  padding: 0px -1px 0px 0px;
  margin-bottom: 8px;
  box-sizing: border-box;
  width: 335px;
}

.txt-663 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  width: 245px;
  word-wrap: break-word;
}

.txt-9105 {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: -1.5px;
  color: rgba(32, 32, 32, 1);
  text-align: right;
  width: 68px;
  word-wrap: break-word;
}

.medicamento-1 {
  margin-bottom: 8px;
  box-sizing: border-box;
  width: 335px;
}

.txt-1097 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  width: 245px;
  word-wrap: break-word;
}

.txt-684 {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: -1.5px;
  color: rgba(32, 32, 32, 1);
  text-align: right;
  width: 68px;
  word-wrap: break-word;
}

.medicamento-3 {
  width: 335px;
}

.txt-783 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  width: 245px;
  word-wrap: break-word;
}

.txt-446 {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: -1.5px;
  color: rgba(32, 32, 32, 1);
  text-align: right;
  width: 68px;
  word-wrap: break-word;
}

.btn-secondary-3 {
  padding: 7px 12.4px 7px 14.32px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgba(64, 122, 255, 1);
  width: 247px;
  height: 40px;
}

.btn-text-master-6 {
  padding: 0px -1px 0px 0px;
  box-sizing: border-box;
  width: 218.28px;
  height: 24px;
}

.text-master-1 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(64, 122, 255, 1);
  text-align: center;
  width: 218.28px;
  height: 24px;
  word-wrap: break-word;
}

.contents-05 {
  height: fit-content;
}

.txt-3107 {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  letter-spacing: -1.5px;
  color: rgba(32, 32, 32, 1);
  word-wrap: break-word;
  margin-bottom: 16px;
}

.frame-611 {
  margin-bottom: 16px;
  box-sizing: border-box;
  height: fit-content;
}

.txt-659 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  text-align: center;
  width: 335px;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.medicamento-21 {
  padding: 0px -1px 0px 0px;
  margin-bottom: 8px;
  box-sizing: border-box;
  width: 335px;
}

.txt-1080 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  width: 245px;
  word-wrap: break-word;
}

.txt-428 {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: -1.5px;
  color: rgba(32, 32, 32, 1);
  text-align: right;
  width: 68px;
  word-wrap: break-word;
}

.txt-729 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  text-align: center;
  width: 335px;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.medicamento-11 {
  margin-bottom: 8px;
  box-sizing: border-box;
  width: 335px;
}

.txt-494 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  width: 245px;
  word-wrap: break-word;
}

.txt-799 {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: -1.5px;
  color: rgba(32, 32, 32, 1);
  text-align: right;
  width: 68px;
  word-wrap: break-word;
}

.medicamento-31 {
  width: 335px;
}

.txt-393 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(32, 32, 32, 1);
  width: 245px;
  word-wrap: break-word;
}

.txt-363 {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: -1.5px;
  color: rgba(32, 32, 32, 1);
  text-align: right;
  width: 68px;
  word-wrap: break-word;
}

.btn-secondary-4 {
  padding: 7px 12.4px 7px 14.32px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgba(64, 122, 255, 1);
  width: 247px;
  height: 40px;
}

.btn-text-master-7 {
  padding: 0px -1px 0px 0px;
  box-sizing: border-box;
  width: 218.28px;
  height: 24px;
}

.text-master-1 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(64, 122, 255, 1);
  text-align: center;
  width: 218.28px;
  height: 24px;
  word-wrap: break-word;
}
